/**
	@Authored By Ajith Thazath  
	Created for Demo project
**/
.spinner {
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    height: 50px !important;
    width: 50px !important;
}

.backGround {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    top: 0px;
    z-index: 1000;
    left: 0px;
}

.container {
    // position: relative;
    // top:45px;
    // // height: 100%;
    // height: calc(100% - 50px);
    // overflow-y: auto
}

.headerPos {
    position: fixed;
    top: 0px;
}