/**
	@Authored By Ajith Thazath  
	Created for Demo project
**/
div {
    margin: 26px;
    // position: relative;
    // top: 45px;
}

.container {
    padding: 20px;
    height: 80%;
    border-radius: 20px;
}