/**
	@Authored By Ajith Thazath  
	Created for Demo project
**/
@import '../../variables.scss';

.container {
    z-index: 1002;
    position: fixed;
    width: 100%;
    top: 50%;
    bottom: 50%;
}

.price {
    color: orange;
    margin: 10px
}

mat-select {
    margin: 10px;
    margin-left: 20px;
    border: 3px solid orange;
    padding: 3px 10px;
    border-radius: 5px;
}

mat-card-actions div {
    width: 100%
}

mat-card-actions button {
    width: 100%;
    background-color: orange;
    color: white;
}

.material-icons-outlined {
    font-size: 2rem;
    cursor: pointer;
}

.maxWidth{
overflow: auto;
display: block;
height: 150px;
}

img {
    max-height: 250px;
    max-width: 250px;
}

@media(max-width :$mobile-max-width) {
    mat-card{
        max-width:100% !important;
    }
    img {
        max-height: 150px;
        max-width: 150px;
    }
    .maxWidth{
        overflow: auto;
        display: block;
        height:100px ;
        }
}

@media(max-height : 400px){
    mat-card{
        max-height:200px !important;
        overflow:auto;
    }
}

// @media(max-width :$mobile-max-width){
//     .maxWidth{
//         max-width:500px;
//         overflow:auto
//     }
// }

// @media(max-width :$tab-max-width){
//     .maxWidth{
//         max-width:1000px;
//         overflow:auto
//     }
// }

// @media(max-width :$desktop-max-width){
//     .maxWidth{
//         max-width:1100px;
//         overflow:auto
//     }
// }

// @media(max-width :$large-screen-min-width){
//     .maxWidth{
//         max-width:1200px;
//         overflow:auto
//     }
// }