/**
	@Authored By Ajith Thazath  
	Created for Demo project
**/
$shadow-grey:  #beb8b8;
$main-color: #9625ff;

$mobile-max-width:750px;
$tab-max-width:1024px;
$desktop-max-width:1280px;
$large-screen-min-width:1500px;
